ISM/Examples/ISM/test_ism.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="test:ism"
   xmlns:ism="urn:us:gov:ic:ism" xmlns:arh="urn:us:gov:ic:arh" xmlns:ntk="urn:us:gov:ic:ntk" xmlns:test="test:ism">
   <xs:import namespace="urn:us:gov:ic:ism"
              schemaLocation="../../Schema/ISM/IC-ISM.xsd"/>
   <xs:import namespace="urn:us:gov:ic:arh"
              schemaLocation="../../Schema/ISM/IC-ARH.xsd"/>
   <xs:import namespace="urn:us:gov:ic:ntk"
              schemaLocation="../../Schema/ISM/IC-NTK.xsd"/>
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element ref="test:singleElement" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="test:parentElement" minOccurs="1" maxOccurs="unbounded"/>
               <xs:element ref="test:singleCUIONLYElement" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="ism:NoticeList" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="arh:Security" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="arh:ExternalSecurity" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:sequence>
         <xs:attribute ref="ism:DESVersion"/>
         <xs:attribute ref="arh:DESVersion"/>
         <xs:attribute ref="ism:ISMCATCESVersion"/>
         <xs:attributeGroup ref="ism:ResourceNodeAttributeOptionGroup"/>
         <!--<xs:attributeGroup ref="ntk:NTKRootNodeOptionAttributeGroup"/>-->
      </xs:complexType>
   </xs:element>
   <xs:element name="singleElement">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="ism:NoticeAttributesGroup"/>
         <xs:attributeGroup ref="ism:POCAttributeGroup"/>
         <xs:attribute ref="ism:excludeFromRollup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="parentElement">
      <xs:complexType mixed="true">
         <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element ref="test:childElement" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="ism:NoticeList" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="ism:ResourceNodeAttributeOptionGroup"/>
         <xs:attributeGroup ref="ism:POCAttributeGroup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="childElement">
      <xs:complexType mixed="true">
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element ref="test:grandchildElement" minOccurs="1" maxOccurs="1"/>
               <xs:element ref="ism:NoticeList" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
         </xs:sequence>
         <xs:attributeGroup ref="ism:NoticeAttributesGroup"/>
         <xs:attributeGroup ref="ism:POCAttributeGroup"/>
         <xs:attribute ref="ism:excludeFromRollup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="grandchildElement">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="ism:SecurityAttributesOptionGroup"/>
         <xs:attributeGroup ref="ism:POCAttributeGroup"/>
         <xs:attribute ref="ism:excludeFromRollup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="singleCUIONLYElement">
      <xs:complexType mixed="true">
         <xs:attributeGroup ref="ism:CUIONLYattributesGroup"/>
         <xs:attribute ref="ism:excludeFromRollup"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
