crates/marque-ism/schemas/ISM-v2022-DEC/Schema/IC-NTK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../../BuildDependencies/ISM/Schematron/ISM/ISM_XML.sch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ntk="urn:us:gov:ic:ntk"
            xmlns:ism="urn:us:gov:ic:ism"
            xmlns:ap="urn:us:gov:ic:cvenum:ntk:accesspolicy"
            xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="urn:us:gov:ic:ntk"
            xml:lang="en"
            ism:compliesWith="USGov USIC"
            ism:resourceElement="true"
            ism:createDate="2019-09-18"
            ism:DESVersion="202111"
            ism:ISMCATCESVersion="202205"
            ism:classification="U"
            ism:ownerProducer="USA"
            version="202111.202211">
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Need-To-Know Metadata
                (NTK)</xhtml:h1>
        </xsd:documentation>

        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       </xhtml:p>
        </xsd:documentation>

        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">W3C XML Schema for Need-To-Know
                metadata (NTK) in the XML Data Encoding Specification for Information Security
                Marking Metadata (ISM.XML).</xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">This XML Schema file is one
                component of the XML Data Encoding Specification (DES). Please see the document
                titled <xhtml:i>
                    <xhtml:a href="../../Documents/ISM/DesIsmXml.pdf">XML Data Encoding
                        Specification for Information Security Marking Metadata</xhtml:a>
                </xhtml:i> for a complete description of the encoding as well as a list of all
                components.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">It is envisioned that this
                schema or its components, as well as other parts of the DES may be overridden for
                localized implementations. Therefore, permission to use, copy, modify and distribute
                this XML Schema and the other parts of the DES for any purpose is hereby granted in
                perpetuity.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please reference the preceding
                two paragraphs in all copies or variations. The developers make no representation
                about the suitability of the schema or DES for any purpose. It is provided "as is"
                without expressed or implied warranty.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you modify this XML Schema in
                any way label your schema as a variant of NTK.XML.</xhtml:p>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please direct all questions, bug
                reports,or suggestions for changes to the points of contact identified in the
                document referenced above.</xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">The document element for NTK is
                    <xhtml:a href="IC-NTK_xsd_Element_ntk_Access.html">ntk:Access</xhtml:a>.
                However, the NTK schema is not a standalone construct; it should be imported into a
                parent XML schema.</xhtml:p>
        </xsd:documentation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
                National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
        </xsd:documentation>
    </xsd:annotation>
    <!--***************************************************-->
    <!--Start Import Statements-->
    <!--***************************************************-->
    <xsd:import namespace="urn:us:gov:ic:ism" schemaLocation="./IC-ISM.xsd"/>
    <!--***************************************************-->
    <!--End Import Statements-->
    <!--***************************************************-->
    <!--***************************************************-->
    <!--Start All case-insensitive alphabetically-->
    <!--***************************************************-->

    <xsd:element name="Access" type="ntk:RequiresType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A way of describing a
                    formalized Need to Know required for a document. NTK requires being inside a
                    schema that implements ISM therefore some element in the implementing schema
                    MUST have ism:ISMRootNodeAttributeGroup and ism:ResourceNodeAttributeGroup since
                    both of those are required for a valid ISM implementation. In addition the root
                    node of the implementing schema must have ntk:NTKRootNodeAttributeGroup
                    specified.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="ExternalAccess" type="ntk:RequiresType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A way of describing a
                    formalized Need to Know required for an EXTERNAL document. NTK requires being
                    inside a schema that implements ISM therefore some element in the implementing
                    schema MUST have ism:ISMRootNodeAttributeGroup and
                    ism:ResourceNodeAttributeGroup since both of those are required for a valid ISM
                    implementation. In addition the root node of the implementing schema must have
                    ntk:NTKRootNodeAttributeGroup specified.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="AccessProfile" type="ntk:AccessProfileType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">An access policy name
                    followed by 1 or more values representing a profile that a user wanting access
                    to the document must meet. Logic for the profile list being boolean AND vs OR is
                    Access Policy defined.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="AccessProfileList" type="ntk:AccessProfileListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of access policy names.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AccessProfileListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of access policy names.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>      
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element ref="ntk:AccessProfile" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccessProfileType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of words, codes and/or phrases: a lexicon.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>    
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element ref="ntk:AccessPolicy" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="ntk:ProfileDes" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ntk:VocabularyType" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element ref="ntk:AccessProfileValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="ism:SecurityAttributesOptionGroup"/>
    </xsd:complexType>

    <xsd:element name="AccessProfileValue" type="ntk:AccessProfileValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A system name followed by 1 or more 
                    values representing a profile that a user wanting access to the document must meet. 
                    Logic for the profile list being boolean AND vs OR is System defined.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AccessProfileValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of words, codes 
                    and/or phrases: a lexicon</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ntk:StringWithSecurityType">
                <xsd:attribute name="vocabulary" type="xsd:anyURI" use="required">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of words,
                                codes and/or phrases: a lexicon.</xhtml:p>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="AccessPolicy" type="ntk:URICommonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A logical grouping indicating 
                    that one of the included access policies is required.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AccessType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A way of describing a formalized 
                    Need to Know required for an EXTERNAL document. NTK requires being inside a schema 
                    that implements ISM therefore some element in the implementing schema MUST have 
                    ism:ISMRootNodeAttributeGroup and ism:ResourceNodeAttributeGroup since both of those 
                    are required for a valid ISM implementation. In addition the root node of the implementing 
                    schema must have ntk:NTKRootNodeAttributeGroup specified.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element ref="ntk:AccessProfileList" minOccurs="1" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:attributeGroup name="CommonAttributesGroup">
        <xsd:attribute ref="ntk:id" use="optional"/>
        <xsd:attribute ref="ntk:IDReference" use="optional"/>
        <xsd:attribute ref="ntk:qualifier" use="optional"/>
    </xsd:attributeGroup>

    <xsd:attribute name="DESVersion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the
                    specification. This attribute is intended for processing systems to determine
                    the appropriate versions of Schema, Schematron, and CVE values for validation
                    and interpretation of an instance document. </xhtml:p>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of
                    this attribute specified in an instance document, the first one in document
                    order is the one that will apply to the entire document. Document order is
                    defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
                </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <xsd:attribute name="id" type="xsd:ID">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A unique XML identifier used
                    to assign an XML unique identifier to an element, such as a paragraph, note or
                    table.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="IDReference" type="xsd:IDREFS">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A cross-reference to a
                    unique identifier used to point from one element to one or more other elements.
                    The value of the attribute must be one or more XML unique identifiers that are
                    the value(s) of id attribute(s) elsewhere in the document. </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>

    <xsd:element name="ProfileDes" type="ntk:ProfileDesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">The value of this element
                    references the NTK profile. This value should be represented by an IC-ID,
                    however, is not currently restrict to an IC-ID type so that legacy systems do
                    not break during the transition to a complete restriction to IC-ID.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ProfileDesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">The value of this element
                    references the NTK profile. This value should be represented by an IC-ID,
                    however, is not currently restrict to an IC-ID type so that legacy systems do
                    not break during the transition to a complete restriction to IC-ID.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ntk:URICommonType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:attribute name="qualifier" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A user-defined property used
                    to provide contextual meaning to the <xhtml:a href="#AccessProfileValue">ntk:AccessProfileValue</xhtml:a>
                </xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>

    <xsd:element name="RequiresAllOf" type="ntk:RequiresAllType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A logical grouping
                    indicating that all included access policies are required.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="RequiresAllType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of logical groupings 
                    indicating that all included required access policies.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all minOccurs="1" maxOccurs="1">
            <xsd:element ref="ntk:AccessProfileList" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="ntk:RequiresAnyOf" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="RequiresAnyOf" type="ntk:AccessType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A logical grouping
                    indicating that one of the included access policies is required.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="RequiresType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A list of required access 
                    policies.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element ref="ntk:RequiresAllOf"/>
            <xsd:element ref="ntk:RequiresAnyOf"/>
        </xsd:choice>
        <xsd:attributeGroup ref="ism:SecurityAttributesOptionGroup"/>
        <xsd:attribute name="externalReference" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">Attribute to hold the 
                        authorization reference of the data object referred to external reference.</xhtml:p>
                </xsd:documentation>
                </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="StringWithSecurityType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A string with security metadata.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attributeGroup ref="ntk:CommonAttributesGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="URICommonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A common name that provides 
                    reference to a Uniform Resource Identifier (URI).</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI">
                <xsd:attributeGroup ref="ntk:CommonAttributesGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="TokenWithSecurityType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">A mixture of Name characters 
                    (i.e., no whitespace) of security metadata.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:NMTOKEN">
                <xsd:attributeGroup ref="ism:SecurityAttributesOptionGroup"/>
                <xsd:attributeGroup ref="ntk:CommonAttributesGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="VocabularyType" type="ntk:VocabularyTypeType">
        <xsd:annotation>
            <xsd:documentation>
                <xhtml:p ism:ownerProducer="USA" ism:classification="U">identifying string for 
                    the vocabulary type being defined.</xhtml:p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="VocabularyTypeType">
        <xsd:attribute name="name" type="xsd:anyURI" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">Used to give the
                        identifying string for the vocabulary type being defined.</xhtml:p>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="source" type="xsd:anyURI" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">Used to identify the
                        source to be used by the vocabulary type as the system or list that holds
                        the collection/pool of values.</xhtml:p>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sourceVersion" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <xhtml:p ism:ownerProducer="USA" ism:classification="U">Used to identify the
                        version of the source for this vocabulary type being defined.</xhtml:p>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <!--***************************************************-->
    <!--End All case-insensitive alphabetically-->
    <!--***************************************************-->
    <xsd:annotation>
        <xsd:documentation>
            <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
            <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
                <xhtml:caption>Change History</xhtml:caption>
                <xhtml:thead>
                    <xhtml:tr>
                        <xhtml:th>Version</xhtml:th>
                        <xhtml:th>Date</xhtml:th>
                        <xhtml:th>By</xhtml:th>
                        <xhtml:th>Description</xhtml:th>
                    </xhtml:tr>
                </xhtml:thead>
                <xhtml:tbody>
                    <xhtml:tr>
                        <xhtml:td>2018-APR</xhtml:td>
                        <xhtml:td>2017-02-01</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U"> The schema
                                    change logs will no longer be maintained as of the 2018-APR
                                    release. The existing change logs will only serve as legacy
                                    information. For changes to schema as of and after 2018-APR,
                                    reference the change history in the DES.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>2015-AUG</xhtml:td>
                        <xhtml:td>2015-06-05</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Removed
                                    ntk:isAbstract attribute.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>2015-AUG</xhtml:td>
                        <xhtml:td>2015-05-29</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">DESVersion
                                    restriction regex updated.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>2015-AUG</xhtml:td>
                        <xhtml:td>2015-3-9</xhtml:td>
                        <xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Reduced
                                    elements with ISM to only the root and AccessProfile
                                    elements.</xhtml:li>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Removed
                                    Group and Individual constructs from NTK so that only
                                    AccessProfile is available.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>10</xhtml:td>
                        <xhtml:td>2013-7-25</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ME/D&amp;I</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added a
                                    Profile element.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>9</xhtml:td>
                        <xhtml:td>2012-2-4</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ME/D&amp;I</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added "AND"
                                    logic to NTK Access element and access attribute.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>7</xhtml:td>
                        <xhtml:td>2012-5-28</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ME/D&amp;I</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Updated NTK
                                    attribute to use a schema restriction regex instead of
                                    schematron rule NTK-ID-00005 [artf12287].</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>7</xhtml:td>
                        <xhtml:td>2012-4-06</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ME/D&amp;I</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Add NTK
                                    attribute for use on portions [artf12287].</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>7</xhtml:td>
                        <xhtml:td>2012-3-19</xhtml:td>
                        <xhtml:td>ODNI/OCIO/ME/D&amp;I</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Changed
                                    DESVersion attribute from xsd:int to ism:ShortStringType. </xhtml:li>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Changed
                                    declaration of AccessProfileValueType to be simple content.
                                    [artf12153].</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>6</xhtml:td>
                        <xhtml:td>2011-12-13</xhtml:td>
                        <xhtml:td>Hodges, ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Extracting
                                    out attributes and elements to move towards NIEM
                                    compliance</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>5</xhtml:td>
                        <xhtml:td>2011-07-07</xhtml:td>
                        <xhtml:td>Colbert, ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added
                                    version information to header</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>4</xhtml:td>
                        <xhtml:td>2011-04-22</xhtml:td>
                        <xhtml:td>Colbert, ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">Explicitly
                                    declared minOccurs and maxOccurs where appropriate.</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                    <xhtml:tr>
                        <xhtml:td>3</xhtml:td>
                        <xhtml:td>2011-01-31</xhtml:td>
                        <xhtml:td>Sun, ODNI/OCIO/ICEA</xhtml:td>
                        <xhtml:td>
                            <xhtml:ul>
                                <xhtml:li ism:ownerProducer="USA" ism:classification="U">(CR
                                    2011-01) Remove unused ddms namespace declaration</xhtml:li>
                            </xhtml:ul>
                        </xhtml:td>
                    </xhtml:tr>
                </xhtml:tbody>
            </xhtml:table>
        </xsd:documentation>
    </xsd:annotation>
</xsd:schema>
